/* Add CSS Styling */
/* div p {
  background: #ffff00;
  color: hsl(0, 100%, 50%);
  font-size: 20px;
  text-align: center;
} */

.container .text {
  background: rgb(255, 255, 0);
  color: #ff0000;
  font-size: 20px;
  text-align: center;
}
